/* CSS styles for term project by jacobflood
--rich-black-fogra-29: #0d1b2a;
--oxford-blue: #1b263b;
--bdazzled-blue: #415a77;
--shadow-blue: #778da9;
--platinum: #e0e1dd;
*/
header {
    color: #0D1B2A;
}

body {
    background-color: rgb(214, 214, 214);
    font-family: 'Montserrat', sans-serif;
}
p {
    color: rgb(20,20,20);
}

a {
    color: rgb(0, 50, 200);
    font-family: 'Helvetica', sans-serif;
}
h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
    color: rgb(0, 15, 200);
}

img {
    border: .5rem solid #000000;
    max-width: 100%;
}

#p1 {
    border-left: .3rem solid #1B263B;
    text-align: center;
    padding: .5rem;
}

#navbar {
    background-color: rgb(170, 170, 170);
    color: rgb(20,20,20);
}

