/* CSS styles for term project by jacobflood
--rich-black-fogra-29: #0d1b2a;
--oxford-blue: #1b263b;
--bdazzled-blue: #415a77;
--shadow-blue: #778da9;
--platinum: #e0e1dd;
*/
header {
    color: #0D1B2A;
}

body {
    background-color: lightskyblue;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #415A77;
}

a {
    color: #1B263B;
}
h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
    color: #DC143C;
}

img {
    border: .5rem solid #000000;
    max-width: 100%;
}

#p1 {
    border-left: .3rem solid #1B263B;
    text-align: center;
}

#navbar {
    background-color: lightblue;
    color: #415A77;
}

