/* CSS styles for term project by jacobflood
--rich-black-fogra-29: #0d1b2aff;
--oxford-blue: #1b263bff;
--bdazzled-blue: #415a77ff;
--shadow-blue: #778da9ff;
--platinum: #e0e1ddff;
*/
header {
    color: #0D1B2A;
}
p {
    color: #415A77;
}

a {
    color: #1B263B;
}
h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
    color: #DC143C;
}

img {
    border: 2rem solid #000000;
    max-width: 100%;
    padding: 3rem;
}

#p1 {
    border-left: 4rem solid #1B263B;
}

